@page
@model FociWebAppUj.Pages.TabellaModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Állás</th
            <th>Csapat</th>
            <th>Győzelmek</th>
            <th>Döntetlenek</th>
            <th>Vereségek</th>
            <th>Lőtt Gólok</th>
            <th>Kapott Gólok</th>
            <th>Pontok</th>
        </tr>
    </thead>
</table>